{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid" data-aos="fade" data-aos-delay="500">
    <div class="swiper-container images-carousel">
        <div class="swiper-wrapper d-flex justify-content-around">
            <div class="swiper-slide">
                <div class="image-wrap rounded">
                    <div class="image-info">
                        <h2 class="mb-3">Events</h2>
                        <a href="{{ path('events') }}" class="btn btn-outline-white py-2 px-4">More Photos</a>
                    </div>
                    <img src="images/events_cover.jpg" alt="Image">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="image-wrap rounded">
                    <div class="image-info">
                        <h2 class="mb-3">Shootings</h2>
                        <a href="{{ path('shootings') }}" class="btn btn-outline-white py-2 px-4">More Photos</a>
                    </div>
                    <img src="images/shootings_cover.jpg" alt="Image">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="image-wrap rounded">
                    <div class="image-info">
                        <h2 class="mb-3">Divers</h2>
                        <a href="{{ path('divers') }}" class="btn btn-outline-white py-2 px-4">More Photos</a>
                    </div>
                    <img src="images/divers_cover.jpg" alt="Image">
                </div>
            </div>
        </div>

        <!-- <div class="swiper-pagination"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
                <div class="swiper-scrollbar"></div> -->
    </div>
</div>
{% endblock %}