<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
     <meta name="description" content="Charles Hopfner est un photographe amateur spécialisé dans le milieu automobile. Venez découvrir ses clichés!">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Charles Hopfner - {% block title %}Photographe{% endblock %}</title>


    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300i,400,700" rel="stylesheet">
    {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>

<body>

<div class="site-wrap">
    {% include "header.html.twig" %}

    {% block body %}{% endblock %}

    {% include "footer.html.twig" %}
</div>

    {% block javascripts %}
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/jquery-migrate-3.0.1.min.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/bootstrap-datepicker.min.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/aos.js"></script>
    <script src="js/picturefill.min.js"></script>
    <script src="js/lightgallery-all.min.js"></script>
    <script src="js/jquery.mousewheel.min.js"></script>
    <script src="js/main.js"></script>

    {{ encore_entry_script_tags('app') }}

    <script>
        $(document).ready(function () {
            $('#lightgallery').lightGallery();
        });
    </script>
    {% endblock %}
</body>

</html>